@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Roboto&display=swap');
//font-family: 'Elsie', cursive;
//font-family: 'Roboto', sans-serif;
@font-face {
  font-family: 'Natasha';
  src: url(/assets/fonts/Natasha.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Natasha';
  font-style: bold;
  font-weight: 800;
  font-size: 52px;
  color: #1D6DB6;
  opacity: 0.9;
}

h2 {
  font-family: 'Natasha';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: red;
  opacity: 0.9;
  margin-bottom: 2%;
}

p,
h3 {
 font-family: 'Natasha';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #696969;
}

img {
  width: 100%;
}

body {
  background-color: #E0F1F3;
}

.health-manual {
 height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 3fr;
  grid-template-rows: 1fr;
  justify-content: center;

  .health-manual__title {
    height: 100vh;
    width: 40%;
    padding: 10%;
    display: grid;
    align-content: center;
    text-align: justify;
    p{
      padding-top: 30px;
    }
  }

  .cons__button {
   background-color: #1D6DB6;
   width: 250px;
   height: 60px;
   border-radius: 15px;
  span {
font-family: 'Natasha';
font-size: 20px;
   }
  }
  .modal-body img {
    max-width: 100px;
  }

  .button_1 {
    width: 150px;
    font-size: 20px;
  }
  .health-manual__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-template-rows: auto;
   height: 100vh;
    gap: 10px;
    padding: 20px;

.manual__text {
    
      h3 {
        font-family: 'Natasha';
        font-style: bold;
  font-weight: 800;
        font-size: 40px;
        text-align: center;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    } 

    .health-manual__nutrition {
   display: grid;
    align-content: center;
      background-color: #76B28E;
     
    }
    .health-manual__nutrition:hover {
      opacity:1;
      border: 8px solid #A2D7E6;
    }

    .health-manual__sleep {
      display: grid;
      align-content: center;
      background-color: #679FDB // background-color:#F39777;
    }
    .health-manual__sleep:hover {
      opacity:1;
      border: 8px solid #1D6DB6;
    }

    .health-manual__stress {
      display: grid;
      align-content: center;
      background-color: #B28990;
    }
    .health-manual__stress:hover {
      opacity:1;
      border: 8px solid #FDCD4B;
    }
    .health-manual__meditation {
      display: grid;
      align-content: center;
      background-color: #FDCD4B;
    }
    .health-manual__meditation:hover {
      opacity:1;
      border: 8px solid #679FDB ;
    }

    .health-manual__sport {
      display: grid;
      align-content: center;
      background-color: #F09D74;
    }
    .health-manual__sport:hover {
      opacity:1;
      border: 8px solid #A2D7E6 ;
    }

    .health-manual__supplements {
      display: grid;
      align-content: center;
      background-color: #A2D7E6;
      img {
        width: 90%;
       padding-left: 30px;
      }
    }
    .health-manual__supplements:hover {
      opacity:1;
      border: 8px solid #B28990;
    }
  }
  @media (min-width: 1900px) and (max-width: 3000px) {
    .health-manual__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 50% 50%;
     height: 100vh;
      gap: 10px;
      padding: 20px;
  } 
  } 
  
}

@media (min-width: 750px) and (max-width: 866px) {
  .health-manual {
    height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
  flex-wrap: nowrap;
     justify-content: center;
     .health-manual__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto;
     height: 100vh;
      gap: 10px;
      padding: 20px;
  } 
} 
}

@media (min-width: 867px) and (max-width: 1530px) {
  .health-manual {
  height: 100%;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     justify-content: center;
     .health-manual__cards {
      display: grid;
      grid-template-columns: (1fr 1fr);
      grid-template-rows: auto;
    height: 100vh;
      gap: 10px;
      padding: 20px;
  } 
} 
}
@media (min-width: 300px) and (max-width: 749px) {
  .health-manual {
  height: 100%;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     justify-content: center;
     .health-manual__cards {
      display: grid;
      grid-template-columns: (1fr);
      grid-template-rows: auto;
    height: 100vh;
      gap: 10px;
      padding: 20px;
  } 
} 
}

