* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__wave {
  background-image: url("../../images/imgMeditation/img/wave (5).svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.header__wave .header__nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
}
.header__wave a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
}
.header__wave a:hover,
.header__wave a:focus {
  color: rgb(126, 129, 132);
  outline: none;
}

.container {
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-left: 2%;
  padding-right: 2%;
}
.container ul {
  padding-left: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.container h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  text-align: center;
  padding-top: 1.8%;
  font-weight: 600;
  line-height: 140%;
  color: #ecc27d;
}
.container .container__meditation {
  width: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 20px;
  opacity: 0.8;
  padding-right: 6%;
  color: #5B5B5B;
  font-weight: 500;
  line-height: 1.5;
}
.container .container__meditation img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 10%;
}
.container .container__mindfullness {
  width: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-left: 4%;
  font-size: 20px;
  opacity: 0.8;
  color: #5B5B5B;
  font-weight: 500;
  line-height: 1.5;
}
.container .container__mindfullness img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 15%;
}
.container .container__technology {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align: justify;
  font-size: 20px;
  padding-top: 5%;
  padding-right: 4%;
  opacity: 0.7;
  font-weight: 500;
  line-height: 1.5;
  color: #5B5B5B;
}
.container .container__technology img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 10%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../../images/imgMeditation/img/wave (4).svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  padding-bottom: 1%;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  height: 35vh;
}
.footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */